.logged-out {
    max-width: 10rem;
    text-align: center;
    margin: 10rem auto;
}

.logged-in {
    max-width: 30rem;
    margin: 0 auto;
}

.logged-in h2 {
    text-align: center;
    margin-top: 2rem;
}

.logged-in .profile {
    text-align: center;
}

.orders {
    width: 30rem;
    margin: 5rem auto;
}

.orders tr:hover {
    cursor: pointer;
}

.refresh {
    text-align: center;
}

.popup__table-option td {
    font-size: .85rem;
}

.popup__table-option td:first-child {
    padding-left: 3rem;
}

.popup__table-option td:first-child:before {
    content: '+ ';
}