<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HubRise Web Client</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<div id="app" class="layout">
  <div class="title">TinyTablet</div>
  <div class="info">A simple app to display your HubRise orders</div>

  <div v-if="accessToken" class="logged-in">
    <div class="connection-details">
      <span v-if="location">
        {{ location.account.name }} {{ location.name }}
      </span>
      <span v-if="user">
        Logged in as {{ user.first_name }} {{ user.last_name }}
        <a href='#' @click="logout">(logout)</a>
      </span>
    </div>

    <table class="table table-hover orders">
      <thead>
      <tr>
        <th>time</th>
        <th>id</th>
        <th>status</th>
        <th>total</th>
      </tr>
      </thead>
      <tbody>
      <tr is="order-row" v-for="order in orders" :order="order" :key="order.id" @popup="openPopup"/>
      </tbody>
    </table>

    <div class="refresh">
      <a href="#" @click="fetchOrders">Refresh</a>
    </div>
  </div>

  <div v-if="selectedOrder" class="modal fade" id="order-popup" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ selectedOrder.customer.first_name }} {{ selectedOrder.customer.last_name }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <tbody>
            <template v-for="item in selectedOrder.items">
              <tr>
                <td>{{ item.product_name }}</td>
                <td>{{ item.price }}</td>
                <td>x {{ Math.floor(item.quantity) }}</td>
              </tr>
              <tr v-for="option in item.options" class="popup__table-option">
                <td>{{ option.name }}</td>
                <td>{{ option.price }}</td>
                <td/>
              </tr>
            </template>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div v-if="!accessToken">
    <ol class="connection-steps">
      <li><a :href="`https://manager.hubrise.com/oauth2/v1/authorize?redirect_uri=urn:ietf:wg:oauth:2.0:oob&client_id=987574477233.clients.hubrise.com&scope=location[orders.read],profile`" target="_blank">Connect to HubRise</a> to get an authorization code.</li>
      <li>Enter your authorization code here: <input type="text" v-model="inputAuthCode"/></li>
      <li>Run this command in a terminal:
        <pre>
CLIENT_ID=987574477233.clients.hubrise.com
CLIENT_SECRET=7769c2e42b7b7200780f47de4888008bdb5b751b5336d1631d8606cef0ef5a90
CODE=<b>{{ inputAuthCode }}</b>

curl -X POST -d "client_id=$CLIENT_ID&client_secret=$CLIENT_SECRET&code=$CODE" \
  https://manager.hubrise.com/oauth2/v1/token</pre>
        This will return a JSON object with an access token.
      </li>
      <li>Copy the access token and paste it here:
        <input type="text" v-model="inputAccessToken"/>
        <button @click="submitToken">Go</button>
      </li>
    </ol>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>

<script src="js/app.js"></script>

</body>
</html>